.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: block;
  }
}
.navigationBar__fbFwO:global(.__wab_instance) {
  width: 103.3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  background: #050505;
  padding: 16px;
}
.link__sgUmR {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__hixWx {
  object-fit: cover;
  height: 40px;
  max-width: 158px;
  width: 100%;
  min-width: 0;
}
.img__hixWx > picture > img {
  object-fit: cover;
}
.img__hixWx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___1Tv2K {
  object-fit: cover;
}
.img___1Tv2K > picture > img {
  object-fit: cover;
}
.img___1Tv2K > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__gH3RQ {
  object-fit: cover;
}
.img__gH3RQ > picture > img {
  object-fit: cover;
}
.img__gH3RQ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__rd94H {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__erOs5 {
  object-fit: cover;
  max-width: 100%;
  width: 85px;
  height: 92px;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.img__erOs5 > picture > img {
  object-fit: cover;
}
.img__erOs5 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__gM61 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: left;
  padding-left: 20px;
  margin-left: 0px;
  padding-top: 40px;
  padding-bottom: 27px;
  color: #ffffff;
}
.section {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px 0px 14px;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    position: absolute;
    left: 0px;
    top: 0px;
  }
}
.freeBox__dYTri {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 6px;
  min-width: 0;
  padding: 8px;
}
.freeBox__n7JP0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__pCx1O {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__tXiR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 106px;
  max-width: 100%;
  min-width: 0;
  padding: 11px 8px 8px;
}
.freeBox__lTxVj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  min-width: 0;
  padding: 8px;
}
.navigationBar__xuH5:global(.__wab_instance) {
  width: 104.29%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100%;
  object-fit: cover;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
  padding: 16px;
}
.img__au7T7 {
  object-fit: cover;
}
.img__au7T7 > picture > img {
  object-fit: cover;
}
.img__au7T7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__axUbF {
  object-fit: cover;
}
.img__axUbF > picture > img {
  object-fit: cover;
}
.img__axUbF > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.dashboard {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
}
.link__n5Cmt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.link___9Db7F {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.component:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .component:global(.__wab_instance) {
    position: absolute;
    left: 207px;
    top: 1280px;
  }
}
.freeBox__o26Mj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  background: #f1f1f1;
  min-width: 0;
  padding: 15px;
}
.freeBox__kOhE {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___1Rk1I {
  width: 100%;
  height: auto;
  max-width: 1414px;
  color: #535353;
  font-size: 23px;
  font-family: "Inria Serif", serif;
  font-weight: 700;
  background: #ffffff;
  min-width: 0;
}
.httpApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.antdTable:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  border-width: 2px;
  border-style: solid;
}
.antdTableColumn__mntzY:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__l4Dcy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0;
}
.antdTableValue__frXNj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.antdTableColumn___12Zdm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__jrPtc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0;
}
.antdTableValue__nduK:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.antdTableColumn___1XYn1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__j9Mz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0;
}
.img___4N2Vc {
  position: relative;
  object-fit: fill;
  max-width: 100px;
  left: auto;
  top: auto;
  z-index: 1;
}
.img___4N2Vc > picture > img {
  object-fit: fill;
}
.img___4N2Vc > :global(.__wab_img-spacer) > img {
  object-fit: fill;
}
