.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.section {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 0px;
  min-width: 0;
  padding: 0px 24px 96px;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  padding: 16px;
}
.link__sgUmR {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__hixWx {
  object-fit: cover;
  height: 40px;
}
.img__hixWx > picture > img {
  object-fit: cover;
}
.img__hixWx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__pqLmm {
  object-fit: cover;
}
.img__pqLmm > picture > img {
  object-fit: cover;
}
.img__pqLmm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__dzu93 {
  object-fit: cover;
}
.img__dzu93 > picture > img {
  object-fit: cover;
}
.img__dzu93 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__n6IzM {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
}
.about:global(.__wab_instance) {
  position: relative;
  width: 100%;
  max-width: 67px;
  min-width: 0;
}
.link__e3Ahf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.freeBox___4AGrr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #535353;
  font-size: 23px;
  font-family: "Inria Serif", serif;
  font-weight: 700;
  min-width: 0;
}
.httpApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.antdTable:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  border-width: 2px;
  border-style: solid;
}
.antdTableColumn__mntzY:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__y97Ax {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0;
}
.antdTableValue___9I8Bq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.antdTableColumn___12Zdm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__kal2O {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0;
}
.antdTableValue__e8UOi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.antdTableColumn___1XYn1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__j9Mz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0;
}
.img {
  position: relative;
  object-fit: fill;
  max-width: 100px;
  left: auto;
  top: auto;
  z-index: 1;
}
.img > picture > img {
  object-fit: fill;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: fill;
}
.component:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
